<button type="button" class="filter--btn" (click)="mep.expanded = !mep.expanded">
    <i class="material-icons">filter_alt</i> Filtro
</button>

<div class="filter">
    <mat-expansion-panel #mep="matExpansionPanel">
        <div class="filter-container">
            <span class="filter-container--title">Aplicar Filtro</span>
            <div class="filter__form">
                <div class="filter__form__date">
                    <label for="selectDate">Selecione a data:</label>
                    <mat-form-field>
                        <mat-date-range-input [rangePicker]="picker">
                            <input name="selectDate" matStartDate placeholder="Data Inicial" [(ngModel)]="filter.startDate">
                            <input name="selectDate" matEndDate placeholder="Data Final" [(ngModel)]="filter.endDate"
                                (ngModelChange)="emitDateFilter()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <span class="warning-date">Obs.: As datas que estão disponíveis para teste são de 01/02/2021 á 28/02/2021</span>
                </div>
            </div>
            <button type="button" class="clear-btn" (click)="resetFilter()">Limpar Filtro</button>
        </div>
    </mat-expansion-panel>
</div>