.layout {
  display: grid;
  grid-template-rows: 60px auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}

@media (min-width: 480px) {
  .layout {
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
}

header {
  background-color: var(--header-bgcolor);
  grid-area: header;
}

main {
  background-color: #b2ee94;
  grid-area: main;
}

footer {
  background-color: #c08bfd;
  grid-area: footer;
}


/* Estilos para smartphones em modo retrato (portrait) */
@media (max-width: 576px) {

}

/* Estilos para smartphones em modo paisagem (landscape) */
@media (min-width: 576px) and (max-width: 768px) {

}

/* Estilos para tablets (iPad, Android) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Estilos para laptops e desktops */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Estilos para desktops maiores */
@media (min-width: 1200px) {

}