<div class="container-flex">

    <div class="container-flex__bar">
        <div class="container-flex__bar__title">
            <i class="fa-solid fa-list icon__bar"></i>
            <span> Equipamentos em Produção Conectados</span>
        </div>
        <hr>
    </div>

    <div>
        <app-data-table></app-data-table>
    </div>

    <div class="container-flex__details">
        <div class="container-flex__details__title">
            <i class="fa-solid fa-circle-info icon__details"></i>
            <span>Detalhes do Equipamento</span>
        </div>
    </div>

    <div>
        <app-pie-chart></app-pie-chart>
    </div>

    <div>
        <app-line-chart></app-line-chart>
    </div>

</div>