.container-flex {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-around;
  //   align-items: center;
  //   gap: 1rem;
}

.container-flex__bar {
  color: #fff;
  padding: 2rem 0 2rem 0;
  width: 100%;
}

.container-flex__bar__title {
  display: flex;
  align-items: flex-start;
}

.icon__bar {
  margin-right: 0.6rem;
}

.icon svg {
  width: 15px;
  fill: #fff;
}

hr {
  height: 0.01rem; 
  border: none;
  background-color: #5F5DA6;
  margin: 10px 0; 
}

.container-flex__details {
  color: #7E8586;
  padding: 2rem 0 0rem 0;
  width: 100%;
}

.container-flex__details__title {
  background-color: #E8ECEC;
  padding: 0.7rem 0 0.7rem 1.5rem;
  border: 1px #dfd9d9 solid
}

.icon__details {
  margin-right: 0.6rem;
  color: #3B729D;
  font-size: 1.2rem;
}

