<div class="container-flex">

    <div class="container-flex__bar">
        <div class="container-flex__bar__title">
            <span class="material-icons icon__bar">
                view_list
                </span>
            <span> Equipamentos em Produção Conectados</span>
        </div>
        <hr>
    </div>

    <div>
        <app-data-table></app-data-table>
    </div>

    <div class="container-flex__details">
        <div class="container-flex__details__title">
            <span class="material-icons icon__details">info </span>
            <span>Detalhes do Equipamento</span>
        </div>
    </div>

    <div class="container-flex__graphics">
        <div class="graphics"><app-pie-chart></app-pie-chart></div>
        <div class="graphics"><app-line-chart></app-line-chart></div>
        <div class="graphics"></div>
     </div>

</div>