<div class="container-table">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Modelo</th>
        <th>Estado</th>
        <th>Último Sinal</th>
        <th>Data</th>
        <th>Produtividade</th>
        <th>Ganho</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      @for (item of facade.equipments$ | async; track $index) {
      <tr>

        <td class="onclick-table" (click)="equipmentDatails(facade.calculateProductivity(item, item.equipmentsStatesHistory).equipmentSumtHours)">{{item.name}}</td>
        <td>{{item.equipmentsModels.name}}</td>
        <td>
          <span class="badge"
            [ngStyle]="{'background-color': facade.getLatestState(item.equipmentsStatesHistory.states).state.color}">
            {{ facade.getLatestState(item.equipmentsStatesHistory.states).state.name }}
          </span>
        </td>
        <td>{{ facade.getLatestState(item.equipmentsStatesHistory.states).lastDate | date : 'dd/MM/yyyy HH:mm' }}</td>
        <td><i class="fa-regular fa-calendar-days icon-calendar"></i></td>
        <td>
          @if (facade.calculateProductivity(item, item.equipmentsStatesHistory).equipmentSumtHours.operando; as equipmentData) {
          <span class="badge-performance"
            [ngStyle]="{'background-color': facade.getPerformanceColorType(equipmentData)}">
            {{equipmentData / 24 | percent }}
          </span>
          }
        </td>
        <td class="text-gain">{{facade.calculateProductivity(item, item.equipmentsStatesHistory).gainEquipement}}</td>
        <td></td>

      </tr>
      }
      @empty {
      <tr>
        <td colspan="6">Nenhum resultado encontrado.</td>
      </tr>
      }
    </tbody>
  </table>
</div>