<div class="container-table">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Modelo</th>
        <th>Estado</th>
        <th>Último Sinal</th>
        <th>Alert</th>
        <th>Perfomance</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (item of facade.equipments$ | async; track $index) {
      <tr>

        <td>{{item.name}}</td>
        <td>{{item.equipmentsModels.name}}</td>
        <td>
          <span class="badge" [ngStyle]="{'background-color': facade.getLatestState(item.equipmentsStatesHistory.states).state?.color}">
          {{ facade.getLatestState(item.equipmentsStatesHistory.states).state?.name }}
        </span>
        </td>
        <td>{{ facade.getLatestState(item.equipmentsStatesHistory.states).lastDate | date : 'dd/MM/yyyy HH:mm' }}</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>

      </tr>
      }
      @empty {
        <tr>
          <td colspan="6">Nenhum resultado encontrado.</td>
        </tr>
         }
    </tbody>
  </table>
</div>