/* You can add global styles to this file, and also import other style files */
:root {
  --header-bgcolor: #404256;
  --main-bgcolor: #282A42;
  --footer-bgcolor: #404256;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

